[submodule "docs/references/coinbase-x402"]
	path = docs/references/coinbase-x402
	url = https://github.com/coinbase/x402.git
	branch = main
[submodule "docs/references/xnap"]
	path = docs/references/xnap
	url = https://github.com/ObsidiaHQ/xnap.git
[submodule "docs/references/faremeter"]
	path = docs/references/faremeter
	url = https://github.com/faremeter/faremeter.git
	branch = main
[submodule "docs/references/facilitator"]
	path = docs/references/facilitator
	url = https://github.com/x402nano/facilitator
